@model ModelFirst.Models.EntityFramework.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@*HTML CODE*@
@*<form method="post" action="Create">
        <div class="form-group">

            <label>Category Name</label>
            <input type="text" name="CategoryName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>*@



@*HTML HELPERS*@

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.CategoryName)
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-success">Create</button>
}